.container {
  margin-left: -20px;
}
.profileDropzone {
  width: 280px;
  height: 280px;
  margin-bottom: 20px;
}
.profileDropzone img {
  width: 250px;
  height: 250px;
}
.profileDropzone p {
  font-size: 10px;
}
.cprofileDropzone img {
  object-fit: cover;
}
.container img {
  object-fit: cover;
}
.container button {
  background-color: #e51075;
  border-color: #e51075;
}
.container button:hover {
  background-color: #f02885;
  border-color: #f02885;
}
.container button:focus {
  background-color: #f02885;
  border-color: #f02885;
}
@media only screen and (max-width: 480px) {
  .myCompanyLink {
    margin-left: 1%;
  }
}
