.header {
    font-family: benton-sans,Helvetica,"Sans-serif";
  }

  .header a {
    font-weight: 700;
    text-decoration: none;
    color: #2a2a2a;
    text-transform: uppercase;
    font-size: 15px;
  }
  .header button  {
    color:  #e51075;
    border-color:  #e51075;
  }
  .header button:hover{
    color:  #ffffff;
    border-color:  #e51075;
    background-color:   #e51075;
  }

  .header a:hover {
    color:   #e51075;
  }

  .header a:hover:after,
  .header a:focus:after {
    width: 100%;
  }

 .header .logo {
    color: #e51075;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0;
    cursor: pointer;
    font-weight: bold;
  } 
  
 
 
  