.nameCompany {
  font-size: 36px;
  font-weight: 400;
  margin-left: 20px;
}
.generalImage {
  width: 98%;
}
.container a {
  text-decoration: none;
  color: #2a2a2a;
}
.youtube {
  width: 40%;
}
.navigationСontent {
  overflow: hidden;
}
.navigationСontent a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}
.editButton button {
  margin-left: 5%;
  margin-top: 10%;
  background-color: #e51075;
  border-color: #e51075;
  padding: 4%;
}
.editButton button:hover {
  background-color: #f02885;
  border-color: #f02885;
}
.editButton button:focus {
  background-color: #f02885;
  border-color: #f02885;
}
.infoBar {
  width: 100%;
  border: 0;
  border-radius: 2px;
  margin-bottom: 9px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  padding: 13% 50px 13% 50px;
}

.data {
  margin-bottom: 1px;
  font-size: 40px;
  font-weight: 700;
}
.data span {
  font-size: 20px;
  font-weight: 700;
}
.text {
  text-transform: uppercase;
  color: #666666;
  font-size: 12px;
}
.reactPlayer {
  background: url(../../../img/youtube2.png) no-repeat;
  background-size: contain;
  margin: 3% 0 0 3%;
}
.description p {
  text-transform: none;
}
.headingDescription {
  font-weight: 700;
  margin-top: 30px;
  font-size: 20px;
}

.description {
  margin-top: 20px;
  margin-left: 20px;
}
.navigationСontent {
  margin-top: 20px;
}
.tag a{
  margin-left: 20px;
  text-decoration: none;
  color: #2a2a2a;
}
@media only screen and (max-width: 480px) {
  .generalImage {
    width: 260px;
    height: 200px;
  }
  .infoBar {
    width: 200px;
    height: 180px;
    margin-top: 10px;
    padding-top: 5px;
  }
  .data {
    font-size: 20px;
  }
}

