.container {
  margin-bottom: 10px;
}
.cardsLink {
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  border: solid #e51075 1px;
  background-color: #e51075;
  color: #ffffff;
  border-radius: 4px;
  padding: 9px;
  margin: 0 13%;
}
.cardsLink:hover {
  background-color: #eb3288;
  color: #ffffff;
  border-color: #e51075;
  text-decoration: none;
}
.container p {
  text-transform: none;
  cursor: default;
}
.tag {
  text-decoration: none;
  color: #2a2a2a;
}
.tag:hover {
    text-decoration: none;
    color: #2a2a2a;
  }
  .container {
    margin-bottom: 10px;
    overflow: hidden;
  }
  .container span {
    margin-left: 10px;
  }
  .container img {
     object-fit: cover;
  } 
  @media only screen and (max-width: 480px) {
    .cardsLink {
      margin-left: 7%;
    }
  }
