  * {
    margin: 0;
    padding: 0;
  }

html {
    margin: 0;
    padding: 0;
    font: inherit;
    color: rgb(255, 255, 255);
  }
  .appWrapperContent {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 600px;
    max-height: 100%;
    background-color: #ffffff;
    display: block;
    margin: 5% 25% 10% 25%;
    width: 55%;
  }
  .appWrapperCompany {
    position: relative;
    background-color: #ffffff;
    display: block;
    margin: 5% 10% 10% 10%;
    width: 75%;
  }
  .appWrapperProfile {
    position: relative;
    display: flex;
    width: 100%;
    background-color: #ffffff;
    display: block;
    margin-left: -25%;
    width: 1200px;
  }


